@use '../../styles/_colors' as colors

$character-size: 600px

.Characters
  background-color: colors.$main-background-color
  .CharacterList
    display: grid
    grid-template-columns: $character-size $character-size
    justify-content: center
    gap: 2rem

    .CharacterItem
      display: flex
      justify-self: start
      width: $character-size
      font-family: sans-serif
      color: white
      background-color: colors.$primary-color
      border-radius: 15px

      &-image
        width: 100%
        padding: 0.1rem
        border-top-left-radius: 15px
        border-bottom-left-radius: 15px

      &-data
        width: 100%
        height: auto
        padding: 1rem

        &--title
          margin-bottom: 0.5rem

          &:hover
            color: colors.$main-hover-color

        &--status
          span
            display: inline-block
            margin: 0 auto
            height: 8px
            width: 8px
            border-radius: 50%
            margin: 2px 8px 2px 2px

        &--extra
          margin-top: 1rem

          div:first-child
            margin-bottom: 1rem

          div
            span
              font-weight: bold
              color: grey
            p
              margin-top: .5rem

            .CharacterItem-data--origin, .CharacterItem-data--location
              &:hover, &:hover
                color: colors.$main-hover-color

@media (max-width: 1280px)
  .Characters
    .CharacterList
      grid-template-columns: 1fr
      .CharacterItem
        // min-width: 600px
        justify-self: center

@media (max-width: 660px)
  .Characters
    .CharacterList
      // grid-template-columns: 600px
      // gap: 1rem

      .CharacterItem
        flex-direction: column
        justify-self: center
        width: 400px

        &-image
          width: 100%
          height: 65%
          border-top-right-radius: 15px
          border-bottom-left-radius: 0

        &-data
          height: 35%
          &--title,
          &--status
            text-align: center
